/* HEADER CHANGES */

.yellow{
    background-color: var(--background-color);
    width: 100%;
    height: 200px;
}

.search__box--about{
    border: none;
    height: 50px;
    width: 200px;
    background-color: transparent;
    border-bottom: solid 3px black;
}

/* ABOUT CONTAINER */


.brand__container--header{
    width: 85%;
    margin: auto;
}

.about__container{
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 180px;
    display: grid;
    grid-template-areas: 
    "about-text about-img";
}

.about-text{
    width: 80%;
    grid-area: about-text;
}

.about-text__header,
.brand-text__header{
    font-size: 1rem;
    margin-bottom: 10px;
}

.about__body-text,
.brand__body-text{
    font-size: 0.875rem;
    font-weight: var(--light__font-weight);
    margin-bottom: 40px;
}

.about-img__container{
    width: 500px;
    grid-area: about-img;
}

.about-img{
    width: 100%;
    border-radius: 15px;
}

/* BRAND CONTAINER */

.brand__container{
    align-items: center;
    width: 85%;
    margin: auto;
    grid-column-gap: 60px;
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
    "header header"
    "brand-text1 brand-text2"
    "brand-text3 brand-text4";
}

.brand__container--header{
    grid-area: header;
    width: 100%;
    margin-bottom: 40px;
}

.brand-text1{
    grid-area: brand-text1;
}

.brand-text2{
    grid-area: brand-text2;
}

.brand-text3{
    grid-area: brand-text3;
}

.brand-text4{
    grid-area: brand-text4;
}

/* LETS TALK */

.lets-talk__container{
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 140px;
}

.about__lets-talk{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.lets-talk__button{
    display: flex;
}

.lets-talk__input{
    width: 300px;
    height: 45px;
    padding-left: 20px;
    border-radius: 10px 0px 0px 10px; 
    border: var(--box-border);
    box-shadow: var(--box-shadow);
}

.lets-talk__body-text{
    margin-bottom: 20px;
    font-weight: var(--light__font-weight);
    font-size: 0.875rem;
}

.lets-talk__box{
    width: 45px;
    height: 48px;
    text-align: center;
    border-radius: 0px 10px 10px 0px; 
    background-color: var(--background-color);
}

.fa-angle-right{
    margin-top: 9px;
    font-size: 1.5rem;
}