.checkout__container{
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header"
    "confirmation"
    "umbrella"
    "continue-shopping";
}

.umbrella{
    grid-area: umbrella;
    margin-top: 100px;
}

.umbrella__img{
    width: 70%;
}

.continue-shopping{
    grid-area: continue-shopping;
    margin-top: 140px;
    font-weight: var(--links__font-weight);
    width: fit-content;
    justify-self: center;
    padding-bottom: 3px;
}

.continue-shopping:hover{
   border-bottom: var(--border-bottom);
}