header {
  width: 100%;
  height: 90px;
  grid-area: header;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  width: 90%;
  margin: auto;
  height: 90px;
}

/* LOGO */

.logo__container {
  display: flex;
  margin-left: 50px;
  width: 100px;
  align-items: center;
}

.logo__container--img {
  width: 100%;
}

/* SEARCH BAR */

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
  margin-right: 80px;
}

.search__box {
  border: none;
  height: 50px;
  border-bottom: solid 3px #ffeb00;
  position: relative;
  display: flex;
  width: 200px;
}

.fa-search {
  position: absolute;
  font-size: 1.1rem;
  padding-right: 10px;
  cursor: pointer;
}

::placeholder {
  color: var(--font__opacity);
  padding: 0px;
}

/* NAVIGATION */

.nav__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav__container--box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__ul {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  margin-right: 50px;
}

.nav__ul--li {
  padding: 0px 40px 0px 0px;
}

.fa-user,
.fa-heart,
.fa-shopping-cart {
  font-size: 1.5rem;
  color: var(--font-color);
}

.fa-user:hover,
.fa-heart:hover,
.fa-shopping-cart:hover {
  color: var(--font__opacity);
}

.cta__nav {
  padding: 12px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--cta__font-size);
  font-weight: var(--links__font-weight);
  color: var(--font-color);
  background-color: var(--background-color);
}

.cta__nav:hover {
  margin-bottom: 3px;
}

/* HAMBURGER MENU */

.hamburger-menu,
.nav__container--hamburger,
.sub__menu--hamburger {
  display: none;
}

#hamburger-menu {
  display: none;
}

/* SUB MENU */

.sub__menu {
  grid-area: sub-header;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.sub__menu--bar {
  display: flex;
}

.sub__menu--items {
  margin: 0px 40px;
  cursor: pointer;
  border-bottom: solid 3px white;
}

.sub__menu--items:hover {
  font-weight: var(--links__font-weight);
  border-bottom: var(--border-bottom);
}
