/* HERO IMG CONTAINER*/

.hero__img {
  grid-area: hero;
  background-image: url("../../img/background-image.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero__container {
  display: flex;
  margin: auto;
  width: 85%;
  justify-content: space-between;
}

.homepage__header {
  font-size: 5rem;
}

.hero__container--content {
  margin-top: 150px;
}

.hero__container--scroll {
  width: 42%;
  text-align: end;
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  margin-top: 250px;
}

.scroll__content {
  color: white;
}

.scroll__content:hover {
  font-weight: 600;
}

.fa-chevron-down {
  padding-top: 30px;
}

.cta__main {
  height: 50px;
  width: 150px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--cta__font-size);
  font-weight: var(--links__font-weight);
  color: var(--font-color);
  background-color: var(--background-color);
}

.cta__main:hover {
  margin-bottom: 3px;
}

/* FIRST ROW CARDS */

.card__container {
  grid-area: main;
  display: grid;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  grid-gap: 30px;
  grid-template-areas:
    "header1 header1 header1 header2"
    "card1 card2 card3 card4"
    "header3 header3 header3 header4"
    "card5 card6 card7 card8";
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8 {
  border-radius: var(--border-radius__cards);
  box-shadow: var(--box-shadow);
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card7 {
  grid-area: card7;
}

.card8 {
  grid-area: card8;
}

/* HEADLINE ROW ONE */

.headline {
  grid-area: header1;
  margin-top: 50px;
}

.view-more {
  grid-area: header2;
  text-align: end;
  align-self: end;
}

.view-more:hover,
.view-more__second:hover {
  font-weight: bold;
}

/* HEADLINE ROW TWO */

.headline__second {
  grid-area: header3;
  margin-top: 100px;
}

.view-more__second {
  grid-area: header4;
  text-align: end;
  align-self: end;
}

.fa-chevron-right {
  padding-left: 20px;
}

/* CARD IMG */

.card__img--container {
  width: auto;
}

.card__img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/* CARD INFORMATION */

.card__box {
  padding: 20px;
  display: grid;
  grid-template-areas:
    "price favorites"
    "description description";
}

.card__favorites {
  grid-area: favorites;
  justify-self: end;
}

.card__price {
  grid-area: price;
  font-weight: 600;
}

.card__description {
  grid-area: description;
}

.card__description--text {
  border-bottom: solid 3px white;
  width: fit-content;
}

.card__description--text:hover {
  border-bottom: var(--border-bottom);
}
