* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.homepage {
  background-color: white;
  font-family: "poppins", Arial, Helvetica;
  display: grid;
  grid-template-areas:
    "header header header"
    "sub-header sub-header sub-header"
    "hero hero hero"
    "main main main"
    ""
    "footer footer footer";
}

.hero__img {
  grid-area: hero;
  background-image: url("../../img/background-image.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero__container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.hero__container--content {
  width: 42%;
  margin-top: 250px;
}

.hero__container--scroll {
  width: 42%;
  text-align: end;
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  margin-top: 250px;
}

.scroll__content {
  color: white;
}

h1 {
  color: white;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.cta__main {
  display: flex;
  background-color: rgba(255, 235, 0, 1);
  transition: all 0.3 ease 0s;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* FIRST ROW CARDS */

.main__container {
  grid-area: main;
  font-size: 1rem;
  display: grid;
  grid-gap: 30px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  grid-template-areas:
    "headline1 headline1 headline1 headline2"
    "card1 card2 card3 card4"
    "headline3 headline3 headline3 headline4"
    "card5 card6 card7 card8";
}

.headline {
  padding-top: 30px;
  grid-area: headline1;
}

.fa-chevron-right{
  padding-left: 20px;
}

.view-more{
  grid-area: headline2;
  text-align: end;
  align-self: end;
}

.card__box {
  padding: 20px 20px;
  display: grid;
  grid-template-areas:
    "price favorites"
    "description-text description-text";
}

.card__favorites {
  grid-area: favorites;
  text-align: end;
}

.card__price {
  font-weight: 600;
  grid-area: price;
}

.card__description {
  width: 90%;
  text-align: start;
  grid-area: description-text;
}

.card1 {
  grid-area: card1;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

.card2 {
  grid-area: card2;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card3 {
  grid-area: card3;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card4 {
  grid-area: card4;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* SECOND ROW CARDS */

.headline__second {
  grid-area: headline3;
  margin-top: 40px;
}

.view-more__second{
  grid-area: headline4;
  text-align: end;
  align-self: end;
}

.card5 {
  grid-area: card5;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card6 {
  grid-area: card6;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card7 {
  grid-area: card7;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card8 {
  grid-area: card8;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.fall-arrivals{
  grid-area: main;
  display: grid;
  width: 85%;
  margin: auto;
  height: 500px;
  grid-template-areas:
  "img1 img2";
}

.fall-arrivals__img1{
  grid-area: img1;
  background-color: green;
}

.fall-arrivals__img2{
  grid-area: img2;
  background-color: red;
}


@media (max-width: 1200px) {
  /* TABLET */

  .main__container {
    display: grid;
    width: 85%;
    grid-gap: 15px;
    justify-content: center;
    grid-template-areas:
    "headline1 headline1 headline1 headline3"
    "card1 card2 card3 card4"
    "headline3 headline3 headline3 headline4"
    "card5 card6 card7 card8";
}

  .card__box {
    padding: 15px;
  }

  .card__favorites {
    margin: 0px;
  }

  .headline__second{
    padding-top: 50px;
  }

  .card__price, 
  .card__price--text,
  .card__description--text{
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  /* MOBILE */

  .hero__container {
    justify-content: flex-start;
    margin-left: 50px;
  }

  .hero__container--content {
    margin-top: 300px;
  }

  h1 {
    font-size: 1.5rem;
    width: 300px;
  }

  .cta__main {
    padding: 15px 30px;
    width: 130px;
  }

  .hero__container--scroll {
    display: none;
  }

  .main__container {
    display: grid;
    grid-gap: 15px;
    width: 85%;
    justify-content: center;
    grid-template-areas:
      "headline1 headline1"
      "card1 card2"
      "card3 card4"
      "headline2 headline2"
      "card5 card6"
      "card7 card8";
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    font-size: 0.5rem;
  }

  .card__box {
    padding: 10px;
  }

  .card__price, 
  .card__price--text,
  .card__description--text{
    font-size: 0.9rem;
  }
}
