* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.homepage {
  background-color: white;
  font-family: "poppins", Arial, Helvetica;
  display: grid;
  grid-template-areas:
    "header"
    "sub-header"
    "hero"
    "main"
    "fall"
    "footer";
}

.hero__img {
  grid-area: hero;
  background-image: url("../../img/background-image.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero__container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.hero__container--content {
  margin-top: 250px;
}

.hero__container--scroll {
  width: 42%;
  text-align: end;
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  margin-top: 250px;
}

.scroll__content {
  color: white;
}

.fa-chevron-down {
  padding-top: 30px;
}

.homepage__header {
  color: white;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.cta__main {
  display: flex;
  background-color: rgba(255, 235, 0, 1);
  transition: all 0.3 ease 0s;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* FIRST ROW CARDS */

.card__container {
  grid-area: main;
  font-size: 1rem;
  display: grid;
  grid-gap: 30px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  grid-template-areas:
    "headline1 headline1 headline1 headline2"
    "card1 card2 card3 card4"
    "headline3 headline3 headline3 headline4"
    "card5 card6 card7 card8";
} 

.headline {
  grid-area: headline1;
}

.view-more {
  grid-area: headline2;
  cursor: pointer;
  text-align: end;
  align-self: end;
}

.fa-chevron-right {
  padding-left: 20px;
}

.card__box {
  padding: 20px 20px;
  display: grid;
  grid-template-areas:
    "price favorites"
    "description-text description-text";
}

.card__favorites {
  grid-area: favorites;
  text-align: end;
}

.card__price {
  font-weight: 600;
  grid-area: price;
}

.card__description {
  width: 90%;
  text-align: start;
  grid-area: description-text;
}

.card__description--text {
  border-bottom: solid 3px white;
  width: fit-content;
}

.card__description--text a {
  color: black;
}

.card__description--text:hover {
  border-bottom: solid 3px #ffeb00;
}

.card1 {
  grid-area: card1;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card__img{
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card2 {
  grid-area: card2;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card3 {
  grid-area: card3;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card4 {
  grid-area: card4;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* SECOND ROW CARDS */

.headline__second {
  grid-area: headline3;
  margin-top: 40px;
}

.view-more__second {
  grid-area: headline4;
  cursor: pointer;
  text-align: end;
  align-self: end;
}

.card5 {
  grid-area: card5;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card6 {
  grid-area: card6;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card7 {
  grid-area: card7;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card8 {
  grid-area: card8;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* FALL CONTAINER */

.fall__container {
  grid-area: fall;
  width: 85%;
  margin: 80px auto;
  position: relative;
  display: grid;
  grid-template-areas:
    "content content"
    "fall-img1 fall-img2";
}

.fall__container--content{
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: 15%;
  left: 37%;
}

.cta__fall{
  padding: 15px 50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 25px;
  color: black;
  cursor: pointer;
  background-color: white;
  border: solid 2px rgb(242, 241, 242);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.fall__img1--box {
  grid-area: fall-img1;
}

.fall__img2--box {
  grid-area: fall-img2;
}

.fall__img1 {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.fall__img2 {
  width: 100%;
  border-radius: 0px 10px 10px 0px;
}

/* FOOTER */

footer {
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: rgb(242, 241, 242);
}

.footer__container {
  width: 85%;
  margin: auto;
  justify-items: center;
  padding: 50px 0px;
  display: grid;
  grid-template-areas: "contact about information benefits";
}

.footer__contact {
  grid-area: contact;
}

.footer__about {
  grid-area: about;
}

.footer__information {
  grid-area: information;
}

.footer__benefits {
  grid-area: benefits;
}

.footer__item {
  list-style: none;
  font-size: 0.9rem;
  margin-top: 15px;
  cursor: pointer;
}

.footer__item:hover {
  font-weight: 600;
}

.footer__headline {
  margin-bottom: 30px;
}

.fa-undo-alt,
.fa-calendar-check {
  font-size: 1.5rem;
  padding-right: 40px;
  margin-top: 10px;
}

.fa-truck {
  font-size: 1.3rem;
  padding-right: 36px;
}

.social-media {
  margin-top: 30px;
  font-size: 1.5rem;
}

.fa-instagram,
.fa-facebook-square,
.fa-snapchat-square {
  padding-right: 20px;
}

.sub-footer {
  background-color: #ffeb00;
  height: 60px;
  width: 100%;
}

.sub-footer a {
  color: black;
}

.sub-footer__container {
  display: grid;
  width: 85%;
  height: 60px;
  margin: auto;
  font-size: 0.8rem;
  align-items: center;
  grid-template-areas: "copyright terms";
}

.sub-footer__container--copyright {
  grid-area: copyright;
  text-align: start;
}

.sub-footer__container--terms {
  grid-area: terms;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.line-between {
  width: 0px;
  height: 20px;
  border: solid 2px black;
  justify-content: end;
  margin: 0px 40px;
}

.terms:hover,
.privacy:hover {
  font-weight: 600;
}

@media (max-width: 1200px) {
  /* TABLET */

  .card__box {
    padding: 15px;
  }

  .card__favorites {
    margin: 0px;
  }

  .headline__second {
    padding-top: 50px;
  }

  .card__price,
  .card__price--text,
  .card__description--text {
    font-size: 0.9rem;
    width: fit-content;
  }

  .fa-chevron-down {
    color: black;
  }
}

@media (max-width: 767px) {
  /* MOBILE */

  .hero__container {
    justify-content: flex-start;
    padding-left: 50px;
  }

  .hero__container--content {
    margin-top: 300px;
  }

  h1 {
    font-size: 1.8rem;
    width: 300px;
  }

  .cta__main {
    padding: 15px 30px;
    width: 130px;
  }

  .hero__container--scroll {
    display: none;
  }

  .card__container {
    display: grid;
    grid-gap: 30px;
    width: 85%;
    margin-top: 50px;
    justify-content: center;
    grid-template-areas:
      "headline1 headline2"
      "card1 card2"
      "card3 card4"
      "headline3 headline4"
      "card5 card6"
      "card7 card8";
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    font-size: 0.5rem;
  }

  .card__box {
    padding: 10px;
  }

  .card__price,
  .card__price--text,
  .card__description--text {
    font-size: 0.9rem;
  }

  .fa-heart,
  .fa-chevron-down,
  .fa-user {
    margin: 0px;
    color: black;
  }

  footer {
    height: auto;
    padding-bottom: 50px;
    width: 100%;
  }

  .footer__container {
    grid-row-gap: 50px;
    grid-template-areas:
      "contact"
      "about"
      "information"
      "benefits"
      "social";
  }

  .footer__container {
    justify-items: start;
    padding-left: 50px;
  }

  .fa-truck,
  .fa-undo-alt,
  .fa-calendar-check {
    display: none;
  }
}
