/* JACKET IMG SECTION */
.jacket__container{
    width: 85%;
    grid-column-gap: 70px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    "jacket-img jacket-information";
}

.jacket__img--container{
    grid-area: jacket-img;
    display: grid;
    grid-template-areas: 
    "img-column big-img";
}

.jacket-big__container{
    grid-area: big-img;
    width: 400px;
}

.jacket-big__img{
    width: 100%;
    border-radius: 15px;
}

/* SMALL IMG COLUMN */

.jacket__img--column{
    grid-area: img-column;
    margin-top: 50px;
    margin-right: 20px;
    width: 90px;
}

.jacket__img{
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* INFORMATION JACKET */

.jacket__info{
    grid-area: jacket-information;
    width: 90%;
}

/* PRICE, STARS AND REVIEW JACKET */

.price__jacket{
    font-weight: var(--links__font-weight);
    margin-bottom: 10px;
}

.stars{
    margin-bottom: 10px;
}

.fa-star{
    color: var(--background-color);
    font-size: 1rem;
}

.review__jacket{
    display: flex;
    font-size: 0.875rem;
    font-weight: var(--light__font-weight);
}

.review{
    border-bottom: solid 3px white;
}

.review:hover{
    border-bottom: var(--border-bottom);
}

.line-between__jacket{
    height: 15px;
    border: var(--border-bottom);
    margin: 0px 30px;
}

.bold{
    font-weight: var(--links__font-weight);
    margin-right: 15px;
}

/* RAINCOAT DESCRIPTION */

.raincoat-description__container{
    margin-top: 50px;
}

.raincoat__color{
    font-size: 0.875rem;
}

.raincoat__description{
    width: 100%;
    margin-top: 10px;
    font-size: 0.875rem;
}

.raincoat__description--mobile{
    display: none;
}

/* CHOOSE SIZE */

.choose-size__container{
    margin-top: 20px;
}

.choose-size{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choose-size__text{
    font-weight: var(--links__font-weight);
    font-size: 1rem;
}

.find-size{
    border-bottom: solid 3px white;
    font-size: 0.875rem;
}

.find-size:hover{
    padding-bottom: 0px;
    border-bottom: var(--border-bottom);
}

.fa-tshirt{
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.8);
}

/* SIZE BUTTONS */

.size__btn--container{
    display: flex;
    width: 100%;
    margin-top: 25px;
    justify-content: space-between;
}

.size__btn{
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-size: var(--cta__font-size);
    font-weight: var(--links__font-weight);
    border: var(--box-border);
    box-shadow: var(--box-shadow);
}

.size__btn:hover{
    background-color: var(--background-color);
}

/* CTA BUTTONS */

.bag__btn{
    width: 100%;
    margin-top: 30px;
    margin-right: 50px;
}

.bag__cta{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--background-color);
    font-size: var(--cta__font-size);
    font-weight: var(--links__font-weight);
    box-shadow: var(--box-shadow);
}

/* DETAILS SECTION */

.details__container{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    grid-column-gap: 160px;
    display: grid;
    grid-template-areas:
    "product-header size-fit-header about-header"
    "product size-fit about";
}

/* PRODUCTS SECTION */ 

.product__header{
    grid-area: product-header;
    color: var(--font__opacity);
    margin-bottom: 20px;
}

.product__header--text{
    font-size: 1.25rem;
}

.product__list--container{
    grid-area: product;
}

.product__items{
    font-size: 0.875rem;
    margin-bottom: 15px;
}

/* SIZE AND FIT SECTION */

.size-fit__header{
    grid-area: size-fit-header;
    color: var(--font__opacity);
    margin-bottom: 20px;
}

.size-fit__header--text,
.about__header--text{
    font-size: 1.25rem;
}

.size-fit__container{
    grid-area: size-fit;
}

.size-fit__items{
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* ABOUT US SECTION */

.about__header{
    grid-area: about-header;
    color: var(--font__opacity);
    margin-bottom: 20px;
    width: 231px;
}

.about__items--paragraph{
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.about__items--container{
    grid-area: about;
    width: 231px;
}

.about__items{
    font-size: 0.875rem;
    margin-bottom: 5px;
}

/* JACKET CARDS */

.suggestion__container{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    grid-gap: 30px;
    display: grid;
    grid-template-areas: 
    "jacket__cards--headline jacket__cards--headline view-more view-more"
    "suggestion__card1 suggestion__card2 suggestion__card3 suggestion__card4"
    ;
}

.suggestion__headline{
    grid-area: jacket__cards--headline;
    font-size: 1.5rem;
}

.suggestion__view-more{
    grid-area: view-more;
    justify-self: end;
}

.suggestion__card1,
.suggestion__card2,
.suggestion__card3,
.suggestion__card4{
    border-radius: 10px;  
    box-shadow: var(--box-shadow);
}

.suggestion__card1{
    grid-area: suggestion__card1;
}

.suggestion__card2{
    grid-area: suggestion__card2;
}

.suggestion__card3{
    grid-area: suggestion__card3;
}

.suggestion__card4{
    grid-area: suggestion__card4;
}

/* CARD IMG */

.suggestion__img--container{
    width: auto;
}
  
.suggestion__img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
