/* JACKET PAGE CONTAINER */
.jacket__page{
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.sort-by{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.dropdown{
    width: 220px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 8px;
    border: var(--box-border);
}

.filter__container {
    width: 30%;
}

.jacket-list__container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jacket__card {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: var(--box-shadow);
}

.jacket-card__img--container{
    width: 100%;
    height: auto;
}
  
.jacket-card__img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.jacket-card__info {
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.jacket--card__description:hover {
    font-weight: 700;
}

.fa-heart:hover {
    cursor: pointer;
}

.jacket__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price {
    width: 100%;
    display: flex;
}

/* SIDEBAR CONTAINER */

.sidebar__mobile{
    display: none;
}

.sidebar-filter{
    width: 200px;
}

.filter-ul{
    margin-bottom: 40px;
}

.filter-header{
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: var(--links__font-weight);
    border-bottom: var(--border-bottom);
}

.filter-item{
    margin-bottom: 10px;
}

.filter-item:hover{
    font-weight: var(--links__font-weight);
}

.average-price{
    font-size: 1rem;
    margin-bottom: 20px;
    color: rgba(0,0,0, 0.6);
}

/* checkbox CONTAINER */

.checkbox{
    align-content: center;
    margin-bottom: 10px;
}

.checkbox:hover{
    font-weight: var(--links__font-weight);
}

input[type=checkbox] {
    margin-right: 10px;
    height: 16px;
    width: 16px;
}

/* NUMBER AT THE BOTTOM */
.new-page{
    width: 85%;
    margin-top: 50px auto;
    display: flex;
    justify-content: center;
}

.new-page__content{
    display: flex;
    height: 50px;
    align-items: center;
}

.fa-chevron-left{
    padding-right: 20px;
    color: var(--font__opacity);
}

.fa-chevron-right{
    cursor: pointer;
}