@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  font-family: "poppins", Arial, Helvetica;
}

.homepage {
  display: grid;
  grid-template-areas:
    "header"
    "sub-header"
    "main"
    "footer";
}

/* HEADER */

header {
  grid-area: header;
  width: 100%;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: grid;
  max-width: 1200px;
  height: 90px;
  margin: auto;
  grid-template-areas: "header1 header2 header3";
}

.logo__container {
  grid-area: header1;
  display: flex;
  align-items: center;
}

.logo__container--img {
  width: 100px;
  height: 55px;
  cursor: pointer;
  display: flex;
}

.search {
  grid-area: header2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.search__box {
  border: none;
  height: 50px;
  border-bottom: solid 3px #ffeb00;
  position: relative;
  display: flex;
  width: 200px;
}

.fa-search {
  position: absolute;
  font-size: 1.1rem;
  padding-right: 10px;
  cursor: pointer;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
  padding: 0px;
}

/* HAMBURGER MENU */

.hamburger-menu {
  display: none;
}

#hamburger-menu {
  display: none;
}

/* NAVIGATION */

nav {
  grid-area: header3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style: none;
  font-size: 1.5rem;
  flex-direction: row;
  display: flex;
}

ul li {
  padding: 0px 40px;
  padding-left: 0px;
}

.fa-user,
.fa-heart {
  transition: all 0.3 ease 0s;
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  padding: 0px;
}

.cta_nav {
  background-color: rgba(255, 235, 0, 1);
  transition: all 0.3 ease 0s;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.cta:hover {
  background-color: rgba(255, 235, 0, 0.8);
}

/* SUB MENU */

.sub__menu {
  grid-area: sub-header;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.sub__menu--bar {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.sub__menu--bar li {
  margin: 0px 40px;
  border-bottom: solid 4px white;
}

.sub__menu--items:hover {
  font-weight: 600;
  border-bottom: solid 4px #ffeb00;
}

/* MAIN */

main {
  grid-area: main;
  width: 100%;
  height: 100vh;
}

.hero__img {
  background-image: url(../img/background-image.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.hero__container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box2";
}

h1 {
  grid-area: box1;
  color: white;
}

.cta_main {
  grid-area: box3;
  width: 150px;
  height: 60px;
  background-color: rgba(255, 235, 0, 1);
  transition: all 0.3 ease 0s;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.scroll {
  grid-area: box2;
  display: flex;
  justify-content: flex-end;
}

.scroll__content {
  text-decoration: none;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  color: rgba(255, 255, 255, 0.8);
}

.fa-chevron-down {
  padding-top: 20px;
}

.scroll__content:visited {
  color: rgba(255, 255, 255, 0.8);
}

.scroll__content:active {
  color: rgba(255, 255, 255, 0.8);
}

/* MEDIA */

@media (max-width: 1400px) {
  /* Desktop */
}

@media (max-width: 1240px) {
  /* Tablet */

  nav {
    display: none;
  }

  .hamburger-menu {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  .logo__container--img {
    width: 100px;
    height: 55px;
    cursor: pointer;
  }

  .header__container {
    display: grid;
    max-width: 1200px;
    height: 90px;
    margin: auto;
    grid-template-areas: "header1 header2 header3";
  }

  .logo__container {
    grid-area: header1;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .cta {
    margin-right: 50px;
  }

  .hero__img {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 767px) {
  /* Mobile */

  .logo__container--img {
    width: 100px;
    height: 55px;
    cursor: pointer;
  }

  .header__container {
    grid-template-areas: "header1 header2 header3";
  }

  .logo__container {
    margin-left: 50px;
  }

  .search {
    display: none;
  }

  .hamburger-menu {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    grid-area: header3;
  }

  #hamburger-menu {
    display: none;
    grid-area: header3;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    grid-area: header3;
  }

  .cta {
    margin-right: 50px;
  }

  .sub__menu {
    display: none;
  }

  .hero__img {
    width: 767px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
