@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  font-family: "poppins", Arial, Helvetica;
}

.homepage {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  height: 100px;
}

.box1 {
  background-color: red;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-end;
}

.box2 {
  background-color: blue;
  width: 100%;
}

.box3 {
  background-color: pink;
  width: 100%;
}
